#pokeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  border-radius: 15%;
}

#infoBox {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15%;
  width: 90%;
  padding: 5%;
}

#pokeName {
  justify-self: end;
  color: white;
  font-size: 2em;
  font-weight: 650;
}

#pokePic {
  width: 90%;
  height: 90%;
}

#pokeType {
  color: white;
  margin-left: 3%;
}

#abilities {
  display: flex;
  flex-direction: column;
}

#abilitiesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.typesContainer {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.abilityItem {
  font-size: 1.15em;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.personalInfo {
  font-size: 1.4em;
  margin-left: 5%;
  padding: 2%;
}

.pokeball {
  border-radius: 15%;
  background-image: url("./Pokeball-Bg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
}

.typeBox {
  padding: 2px;
  border-radius: 20%;
}
