#pokeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}

#infoBox {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15%;
    width: 90%;
    padding: 5%;
}

.personalInfo {
    font-size: 1.2em;
}