.normal {
    background: rgba(192, 192, 192, 0.473);
  }
  
  .grass {
    background: rgba(0, 128, 0, 0.473);
  }
  
  .fire {
    background: rgba(255, 0, 0, 0.473);
  }
  
  .water {
    background: rgba(173, 216, 230, 0.445);
  }
  
  .fighting {
    background: rgba(165, 42, 42, 0.397);
  }
  
  .flying {
    background: rgba(135, 206, 250, 0.452);
  }
  
  .poison {
    background: rgba(119, 71, 119, 0.466);
  }
  .ground {
    background: rgba(244, 165, 96, 0.466);
  }
  
  .rock {
    background: rgba(222, 184, 135, 0.438);
  }
  
  .bug {
    background: rgba(153, 205, 50, 0.466);
  }
  
  .ghost {
    background: rgba(111, 111, 248, 0.452);
  }
  
  .electric {
    background: rgba(255, 230, 0, 0.459);
  }
  
  .psychic {
    background: rgba(216, 112, 147, 0.466);
  }
  
  .ice {
    background: rgba(113, 238, 255, 0.459);
  }
  
  .dragon {
    background: rgba(100, 148, 237, 0.425);
  }
  
  .dark {
    background: rgba(71, 55, 50, 0.459);
  }
  
  .steel {
    background: rgba(150, 160, 192, 0.445);
  }
  
  .fairy {
    background: rgba(236, 213, 236, 0.466);
  }